<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;key&gt;NSLocalNetworkUsageDescription&lt;/key&gt;
&lt;string&gt;This app requires access to local network resources to communicate with nearby devices.&lt;/string&gt;
NSLocalNetworkUsageDescription</key>
	<string>This app requires access to local network resources to communicate with nearby devices.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bonsai.weeklyOperation</string>
		<string>com.bonsai.unshieldApps</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DancingScript-Regular.otf</string>
	</array>
</dict>
</plist>
